* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana, sans-serif;
    font-size: 20px;
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 0px;
    line-height: 21px;
  }
  body {
    background: #362d24;
    font-family: verdana, sans-serif;
    font-size: 20px;
    color: #885239;
    font-variant: small-caps;
    text-align: center;
    letter-spacing: 0px;
    line-height: 21px;
  }
section.h1{
        text-align: left;
        position: fixed;
}
  /*This is core CSS, this is main img*/
  section img.capybara-right{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 5%;
    left: 0;
  }
  
  /*sub square img*/
  div img.square{
    width: 60%;
    min-width: 400px;
    object-fit:cover;
    height: auto;
    border-radius: 15px;
    margin-top: 3%;
  }

/*size setting of 4 big grid*/
  section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1){
  color: #FFF5C1;
  }
section:nth-child(2){
  color: #362d24;
  background: #FFF5C1;
} 
section:nth-child(3){
  color: #FFF5C1;
}
section:nth-child(4){
  color: #362d24;
  background: #FFF5C1;
}
section .container{
  margin: 100px;
}
section h1{
  color: #FFF5C1;
  text-align: left;
  font-size: 2rem;
  position: relative;
  z-index: 3;
  margin: 0 55% 0 5%;
  text-shadow: 2px 2px 3px #362d24;
}
section h2{
  font-size: 40px;
  text-align: center;
  margin: 1%;
}
 h2.America{
    text-shadow: 6px 6px 5px #362d24;
  }
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #eba165;
  border-radius: 15px;
  padding: 2%;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2%;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #EBDBBF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #FFEECF;
}

*::-webkit-scrollbar-track:active {
  background-color: #F2E2C5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 19px;
  background-color: #fcb02e;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FABC2D;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #EBAE36;
}

.navIcon{
	width: 40px;
	margin: 2%;
}
.navIconLi{
	justify-self: start;
	top : 11px;
	right: 35%;
  justify-self: flex-start;
}


/* Menu css */
#menu {
	background: #362d24;
	height: 64px;
	border-radius: 12px;
    position: relative;
    z-index: 9999;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: center;
}

#navHome{
    justify-self: start;
}
#navSong{
    justify-self: start;
}

#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 64px;
	padding: 0 14px;
	text-decoration: none;
	color: #FDFDFD;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\002B";
	margin-left: 5px;
}
#menu li a:hover {
	color: #CF5C00;
	background: #FFF5C1;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 64px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 64px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FDFDFD;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #000000;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #FFF5C1;
	color: #CF5C00;
}

@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#000000;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FDFDFD}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
